In [27]:
import pandas as pd

In [28]:
pd.__version__

'1.5.2'

In [34]:
df = pd.read_csv('../data/green_tripdata_2019-01.csv.gz', nrows=100)

In [35]:
df.shape

(100, 20)

In [36]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [37]:
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [38]:
from sqlalchemy import create_engine

In [39]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [40]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [41]:
df_iter = pd.read_csv('../data/green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [42]:
df = next(df_iter)

In [43]:
len(df)

100000

In [44]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [45]:
df.shape

(100000, 20)

In [46]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [47]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 2.88 s, sys: 11.7 ms, total: 2.89 s
Wall time: 5.84 s

1000

In [48]:
from time import time

In [49]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 6.715 second
inserted another chunk, took 6.839 second
inserted another chunk, took 6.062 second
inserted another chunk, took 6.139 second
inserted another chunk, took 6.181 second
inserted another chunk, took 2.109 second

StopIteration:

In [ ]:
#!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [50]:
df_zones = pd.read_csv('../data/taxi+_zone_lookup.csv')

In [51]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [52]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [ ]:
#Q3
'''select count(*)
from green_taxi_data 
where lpep_pickup_datetime >='2019-01-15 00:00:00'
and lpep_pickup_datetime <='2019-01-16 00:00:00'
'''

In [ ]:
#Q4
'''
select *
from green_taxi_data
where trip_distance=(
	select max(trip_distance)
	from green_taxi_data
)
'''

In [ ]:
#Q5
'''
select count(gt.passenger_count)
from green_taxi_data as gt
where date(gt.lpep_pickup_datetime) = '2019-01-01'
group by gt.passenger_count
having gt.passenger_count =2 or gt.passenger_count =3
'''

In [ ]:
#Q5
'''
select max(tip_amount)
from green_taxi_data as gt, zones as z
where gt."PULocationID"=(
	select "LocationID"
	from zones
	where "Zone" = 'Astoria'
)
group by tip_amount
'''